<h2>List Of Jobs</h2>
<table class="table table-striped">
<thead> 
    <tr>
        <th>Job</th>
        <th>Description</th>
        <th>Company</th>
        <th>Type</th>
        <th>Location</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Salary</th>
    </tr>
</thead>
<tbody>
    {{#each list}}
    <tr style=" overflow :hidden ; justify-content:space-between">
        <td style="overflow :hidden ; width:100px">{{this.jobb}}</td>
        <td style="overflow :hidden ; width:100px">{{this.job_description}}</td>
        <td style="overflow :hidden ; width:100px">{{this.company_name}}</td>
        <td style="overflow :hidden ; width:100px">{{this.j_type}}</td>
        <td style="overflow :hidden ; width:100px">{{this.company_location}}</td>
        <td style="overflow :hidden ; width:100px">{{this.company_email_id}}</td> 
        <td style="overflow :hidden ; width:100px">{{this.company_contact}}</td>
        <td style="overflow :hidden ; width:100px">{{this.salary}}</td>
        <td><a class="btn btn-success" href="/job/appliedpage/{{this._id}}"> Apply </a></td>
    </tr>
    {{/each}}
</tbody>
</table>

